[Unit]
Description=OJJ Subject Service (code-named Subject) Registry server
After=syslog.target network.target

[Service]
Type=simple
User=subject
ExecStart=/usr/bin/subject-registry
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target

